<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>EGG</title>
	<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
	<script type="text/javascript" src="R/js/vue.js"></script>
	<script type="text/javascript" src="R/js/dicty.js"></script>
	<script type="text/javascript" src="R/js/engine.js"></script>
	<script type="text/javascript" src="R/js/grammar.js"></script>
	<script type="text/javascript" src="R/js/createGrammarTable.js"></script>
</head>
<body style="opacity: 0; font-size: 17px; line-height: 1.4em;">

<pre class="left-side"><code id="mirror" class="left-side"><ul><li>1</li></ul></code></pre>

	<textarea id="input" class="left-side"></textarea>

	<div id="separator"></div>

	<div id="right-side" class="right-side">
		<div class="status-bar">

			<span v-if="status === 0" class="green">
				sin errores <i class="material-icons">done</i>
			</span>

			<span v-if="status === 1" class="blue">
				revisando <i class="material-icons spining-anim">cached</i>
			</span>

			<span v-if="status === 2" class="red">
				error <i class="material-icons">bug_report</i>
			</span>

		</div>
	</div>


	<script type="text/javascript" src="R/js/statusBar.js"></script>
</body>
</html>

<script type="text/javascript">

Imports.beforeMouted( function () {
	MainProcess.run()

	function $ (domElement) {
		this.e = document.querySelector(domElement);
		return {
			on: (eve, callback)  => {
				this.e.addEventListener(eve, callback.bind(this))
			}
		}
	}


	var textareas = document.getElementsByTagName('textarea');
	var count = textareas.length;
	for (var i = 0; i < count; i++) {
		textareas[i].onkeydown = function (e) {
			if (e.keyCode == 9 || e.which == 9) {
				e.preventDefault();
				var s = this.selectionStart;
				this.value = this.value.substring(0, this.selectionStart) + "\t" + this.value.substring(this.selectionEnd);
				this.selectionEnd = s + 1;
			}
		}
	}

})

</script>
