// out: ../conf.css, compressed: true

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
	&::selection {
		background: fade(black, 50%);
		color: white;
	}
}

a, textarea, input, button, select {
    outline: none;
}
